.herosection{
    min-height: 82vh;
    background: url('../../assets/banner/banner.webp') no-repeat center right;
    background-size: cover ;
    color: #333;
    display: flex;
    align-items: center;

    h1{
        font-size: 5rem;
        font-family: "Montserrat";
        font-weight: 800;

        span{
            color: crimson;
        }
    }
}