.banner{
    min-height: 550px;
    background: url('https://img.cdn4dd.com/cdn-cgi/image/fit=cover,width=1200,format=auto,quality=60/https://cdn.doordash.com/media/consumer/home/landing/new/hero_landing_us_alt.jpg') no-repeat;
    background-size: cover ;
    color: #fff;
    text-align: center;
}