.herosection{
    min-height: 90vh;
    background: url('../../assets/banner/banner.webp') no-repeat center right;
    background-size: cover ;
    color: #333;
    display: flex;
    align-items: center;

    h1{
        font-size: 5rem;
        font-family: "Montserrat";
        font-weight: 800;
        animation: fadeIn 2s;
        text-align: center;

        span{
            color: crimson;
        }
    }
    .mouse {
        width: 50px;
        height: 90px;
        border: 3px solid #333;
        border-radius: 60px;
        position: absolute;
        bottom: 40px;
        left: 50%;
        margin-left: -25px;
        &::before,
        &::after {
            content: '';
            width: 12px;
            height: 12px;
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            background-color: crimson;
            border-radius: 50%;
            opacity: 1;
            animation: wheel 1s infinite;
            -webkit-animation: wheel 1s infinite;
        }
        &::after{
            animation: wheel 2s infinite;
            -webkit-animation: wheel 2s infinite;
            background-color: #333;
            top: 5px;
        }
    }
    
    @keyframes wheel {
        to {
            opacity: 0.2;
            top: 70px;
        }
    }
}