* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Public Sans";
    font-size: 16px;
    line-height: 1.5;
}

.mainContainer{
    min-height: 82vh;
    section{
        padding: 40px 0;
        &.full-width{
            max-width: 100%;
        }
    }
    .centerAlign{
        max-width: 1200px;
        margin: 0 auto;
    }

}

//Heading tags
h1{
    font-size: 2.5rem;
    margin-bottom: 30px;
}
h2{
    font-size: 2rem;
}

.two-col-flex{
    display: flex;
    gap: 50px;

    &.va-center{
        align-items: center;
    }
}

.text-center{
    text-align: center;
}

.link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #dc143c;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
    font-size: 0.8rem;
}

.red{
    color: #dc143c;
}
.green{
    color: green;
}
.errorImage{
    img{
        height: 50vh;
    }
}