.search-container{
    display: inline-flex;
    margin-left: auto;
    border: 1px solid #0a1172;
    display: flex;
    align-items: center;
    gap: 10px;

    .search-input{
        padding: 10px;
        border: 0px;
        border-right: 0;
        min-width: 300px;
        background-color: transparent;

        &:focus{
            outline: none;
        }
    }
    i{
        color: #333;
        font-size: 1.1rem;
        padding: 10px;
        cursor: pointer;
    }
}