header {
    background-color: #fa9319;
    .headerWrapper {
        display: flex;
        justify-content: space-between;
        max-width: 1220px;
        width: 100%;
        margin: 0 auto;
        padding: 5px 20px;
        align-items: center;
    }
}

