.navbar {
    display: flex;
    gap: 20px;
    list-style: none;

    li a {
        text-decoration: none;
        color: black;
        font-size: 1.1rem;
        font-weight: 500;
        font-family: Montserrat;

        &:hover {
            text-decoration: none;
            color: blue;
        }
    }
}