.navbar {
    display: flex;
    gap: 20px;
    list-style: none;

    li a {
        text-decoration: none;
        color: #fff;
        font-size: 1.1rem;
        font-weight: 500;
        font-family: Montserrat;
        

        &:hover {
            text-decoration: none;
            color: #ffe5b4;

            i{
                border-color: #ffe5b4;
                background-color: #ffe5b4;
                color: #dc143c;
            }
        }

        i{
            padding: 10px;
            border: 1px solid;
            transition: all 0.3s ease-in-out;
        }
    }
}