.no-results{
    max-width: 600px;
    background-color: #f1f1f1;
    margin: 50px auto;
    padding: 30px 50px;
    font-size: 1.1rem;
    line-height: 1.5;

    h3{
        font-family: "Montserrat";
        font-size: 1.4rem;
    }
}